name: MovieBot-Runner

on:
  workflow_dispatch: # අපි ඕන වෙලාවක බටන් එකක් එබුවම වැඩ පටන් ගන්න

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '20'
      - name: Install Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y aria2
          npm install
      - name: Start Bot
        run: node index.js
